---
whiskers:
  version: ^2.5.1
  matrix:
    - flavor
  filename: "themes/catppuccin-{{ flavor.identifier }}.json"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
{
  "document": {
    "block_prefix": "\n",
    "block_suffix": "\n",
    
    "color": "{{ text.hex }}",
    "margin": 2
  },
  "block_quote": {
    "indent": 1,
    "indent_token": "│ "
  },
  "paragraph": {},
  "list": {
    "level_indent": 2
  },
  "heading": {
    "block_suffix": "\n",
    "color": "{{ text.hex }}",
    "bold": true
  },
  "h1": {
    "prefix": "▓▓▓ ",
    "suffix": " ",
    "color": "{{ red.hex }}",
    "bold": true
  },
  "h2": {
    "prefix": "▓▓▓▓ ",
    "color": "{{ peach.hex }}"
  },
  "h3": {
    "prefix": "▓▓▓▓▓ ",
    "color": "{{ yellow.hex }}"
  },
  "h4": {
    "prefix": "▓▓▓▓▓▓ ",
    "color": "{{ green.hex }}"
  },
  "h5": {
    "prefix": "▓▓▓▓▓▓▓ ",
    "color": "{{ sapphire.hex }}"
  },
  "h6": {
    "prefix": "▓▓▓▓▓▓▓▓ ",
    "color": "{{ lavender.hex }}"
  },
  "text": {},
  "strikethrough": {
    "crossed_out": true
  },
  "emph": {
    "italic": true
  },
  "strong": {
    "bold": true
  },
  "hr": {
    "color": "{{ overlay0.hex }}",
    "format": "\n--------\n"
  },
  "item": {
    "block_prefix": "• "
  },
  "enumeration": {
    "block_prefix": ". "
  },
  "task": {
    "ticked": "[✓] ",
    "unticked": "[ ] "
  },
  "link": {
    "color": "{{ blue.hex }}",
    "underline": true
  },
  "link_text": {
    "color": "{{ lavender.hex }}",
    "bold": true
  },
  "image": {
    "color": "{{ blue.hex }}",
    "underline": true
  },
  "image_text": {
    "color": "{{ lavender.hex }}",
    "format": "Image: {{ "{{.text}}" }} →"
  },
  "code": {
    "prefix": " ",
    "suffix": " ",
    "color": "{{ maroon.hex }}",
    "background_color": "{{ mantle.hex }}"
  },
  "code_block": {
    "color": "{{ mantle.hex }}",
    "margin": 2,
    "chroma": {
      "text": {
        "color": "{{ text.hex }}"
      },
      "error": {
        "color": "{{ text.hex }}",
        "background_color": "{{ red.hex }}"
      },
      "comment": {
        "color": "{{ overlay0.hex }}"
      },
      "comment_preproc": {
        "color": "{{ blue.hex }}"
      },
      "keyword": {
        "color": "{{ mauve.hex }}"
      },
      "keyword_reserved": {
        "color": "{{ mauve.hex }}"
      },
      "keyword_namespace": {
        "color": "{{ yellow.hex }}"
      },
      "keyword_type": {
        "color": "{{ yellow.hex }}"
      },
      "operator": {
        "color": "{{ sky.hex }}"
      },
      "punctuation": {
        "color": "{{ overlay2.hex }}"
      },
      "name": {
        "color": "{{ lavender.hex }}"
      },
      "name_builtin": {
        "color": "{{ peach.hex }}"
      },
      "name_tag": {
        "color": "{{ mauve.hex }}"
      },
      "name_attribute": {
        "color": "{{ yellow.hex }}"
      },
      "name_class": {
        "color": "{{ yellow.hex }}"
      },
      "name_constant": {
        "color": "{{ yellow.hex }}"
      },
      "name_decorator": {
        "color": "{{ pink.hex }}"
      },
      "name_exception": {},
      "name_function": {
        "color": "{{ blue.hex }}"
      },
      "name_other": {},
      "literal": {},
      "literal_number": {
        "color": "{{ peach.hex }}"
      },
      "literal_date": {},
      "literal_string": {
        "color": "{{ green.hex }}"
      },
      "literal_string_escape": {
        "color": "{{ pink.hex }}"
      },
      "generic_deleted": {
        "color": "{{ red.hex }}"
      },
      "generic_emph": {
        "color": "{{ text.hex }}",
        "italic": true
      },
      "generic_inserted": {
        "color": "{{ green.hex }}"
      },
      "generic_strong": {
        "color": "{{ text.hex }}",
        "bold": true
      },
      "generic_subheading": {
        "color": "{{ sky.hex }}"
      },
      "background": {
        "background_color": "{{ mantle.hex }}"
      }
    }
  },
  "table": {
    "center_separator": "┼",
    "column_separator": "│",
    "row_separator": "─"
  },
  "definition_list": {},
  "definition_term": {},
  "definition_description": {
    "block_prefix": "\n🠶 "
  },
  "html_block": {},
  "html_span": {}
}
